*{
    font-family: Arial, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    overflow: hidden;
}
.container{
    width: 97%;
    height: 100%;
    margin: 0 auto;
}

.header{
    height: 9.9185vh;
    &__item{
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__items{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    &__item-human{
        height: 7.2vh;
        margin-right: 1.902vh;
    }
    &__item-workout{
        height: 4.7554vh;
    }
    &__item-adult{
        height: 4.3478vh;
        width: 4.3478vh;
        font-size: 1.495vh;
        background: #00b165;
        border-radius: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.terms{
    height: 10.5978vh;
    background: #005f1f;
    padding: 1.087vh 0;
    &__wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    &__descr{
        font-size: 1.3587vh;
        color: #369b57;
        text-decoration: none;
        text-align: center;
        display: block;
    }
    &__nav{  
        font-size: 2.17391vh;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: #fff;
            font-weight: 700;
        }
    }
}

.training{
    height: 33.9674vh;
    padding: 3.668vh 0 1.63vh 0;
    background: url(../bg.jpg) center center/cover no-repeat;
    &__wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-size: 3.26vh;
        margin: 0 auto;
        font-weight: 900;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
    &__btn{
        height: 11.82vh;
        width: 47.554vh;
        display: block;
        margin: 0 auto;
        background-color: #f69c3b;
        border-radius: 10px;
        border: 2px solid #ffb65c;
        font-size: 2.7174vh;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
    }
}

.menu{
    height: 39.673vh;
    padding-top: 0.543vh;
    &__wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__btn-cancel{
        height: 3.125vh;
        width: 15.625vh;
        display: block;
        margin: 0 auto;
        font-size: 1.3587vh;
        font-weight: 500;
        color: #878c88;
        background: #d5d5d5;
        border: none;
        border-radius: 3px;
    }
    &__cards{
        height: 35.462vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__card-link{
        height: 16.033vh;
        width: 16.033vh;;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    &__card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__card-next{
        font-size: 10px;
        height: 70%;
        width: 70%;
        background: #efefef;
        border-radius: 100%;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        img{
            width: 33%;
            margin-bottom: 2px;
        }
    }
}

.footer{
    height: 5.435vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        font-weight: 500;
        font-size: 1.359vh;
        list-style-type: none;
        text-align: center;
        :last-child{
            ::after{
                content: none;
            }
        }
    }
    &__first-item{
        text-decoration: none;
    }
    &__item{ 
        text-align: center;
        display: inline;      
        ::after{
            content: "|";
            margin: 0 2px;
        }        
        a{
            color: #999;            
        }
    }
}

@import 'blocks/media';