@media(max-width: 376px){
    .header{
        min-height: 20px;
        &__item-human{
            width: 5%;
        }
        &__item-workout{
            width: 40%;
        }
        &__item-adult{
            font-size: 9px;
            width: 15px;
            height: 15px;
        }
    }

    .terms{
        padding: 2px 0;
        min-height: 50px;
        &__descr{
            font-size: 9px;
        }
        &__nav{
            margin-top: 3px;
            a{
                font-size: 11px;
            }
        }
    }

    .training{
        padding: 5px 0 10px 0;
        min-height: 55px;
        h1{
            font-size: 10px;
            width: 270px;
        }
        &__btn{
            width: 70%;
            height: 25px;
            font-size: 11px;
            margin-top: 5px;
        }
    }
    .menu{
        &__btn-cancel{
            font-size: 9px;
            height: 15px;
            width: 20%;
        }
        &__cards{
            height: 166px;
            margin-top: 3px;
        }
        &__card-link{
            width: 82px;
            height: 82px;
        }
        &__card-next-wrapper{
            width: 82px;
        }
        // &__title{
        //     margin: 0 2px;
        // }
        // &__descr{
        //     margin: 0 2px;
        // }
        &__card-img{
            object-fit: scale-down;
            border-radius: 10px;
        }
    }
}

@media(min-width: 540px){
    .training{
        padding-top: 10px;
        min-height: 225px;
        &__btn{
            margin-top: 20px;
        }
    }
}

@media(min-width: 768px){
    .terms{
        &__descr{
            font-size: 12px;
        }
        &__nav{
            width: 700px;
        }
    }
    .menu{
        &__title{
            font-size: 12px;
        }
        &__descr{
            font-size: 11px;
        }
        &__card-next{
            font-size: 10px;
            width: 60px;
            height: 60px;
        }
    }
    .footer{
        ul{
            font-size: 12px;
        }
    }
}

@media(min-width: 1024px){
    .menu{
        &__cards{
            height: 150px;
        }
    }
    .footer{
        margin-top: 30px;
    }
}

// @media(min-width: 280px){
//     .menu{
//         &__cards{
//             height: auto;
//         }
//     }
// }