@media (max-width: 991px){
    .terms{
        height: 9vh;
        padding: 8px 0;
        &__nav{
            width: 100%;
        }
    }

    .training{
        height: 18vh;
        &__btn{
            font-size: 17px;
        }
    }
}
@media(max-width: 575px){
    .terms{
        height: 10vh;
    }
    .training{
        height: 15vh;
        padding-top: 10px;
        h1{
            width: 95%;
            font-size: 17px;
        }
    }
    .menu{
        &__card-link{
            width: 118px;
            height: 118px;
        }
    }
}

@media(max-width: 376px){
    .header{
        &__item-adult{
            font-size: 10px;
        }
    }

    .terms{
        padding: 0.5vh 0 2vh 0;
        height: 16vh;
        &__descr{
            font-size: 9px;
        }
        &__nav{
            a{
                font-size: 11px;
            }
        }
    }

    .training{
        height: 17vh;
        padding: 5px 0 10px 0;
        h1{
            font-size: 13px;
            width: 270px;
        }
        &__btn{
            width: 70%;
            font-size: 11px;
        }
    }
    .menu{
        &__btn-cancel{
            font-size: 9px;
            height: 15px;
            width: 20%;
        }
        &__card-link{
            width: 100px;
            height: 100px;
        }
    }
}

@media(max-width: 367px){
    .header{
        &__item-adult{
            font-size: 9px;
        }
    }

    .terms{
        height: 15vh;
        &__descr{
            font-size: 9px;
        }
        &__nav{
            a{
                font-size: 11px;
            }
        }
    }

    .training{
        padding: 5px 0 10px 0;
        h1{
            font-size: 11px;
        }
        &__btn{
            width: 70%;
        }
    }
    .menu{
        &__btn-cancel{
            font-size: 9px;
            height: 15px;
            width: 20%;
        }
        &__card-link{
            width: 80px;
            height: 80px;
        }
    }
}
