@media (min-width: 991px){
    .container {
        width: 720px;
    }
}

@media(max-width:767px){
    .menu{
        &__card-next{
            font-size: 9px;
        }
    }
}

@media (max-width: 539px){
    .terms{
        &__nav{
            font-size: 3.865vw;
        }
    }
    .training{
        &__btn{
            width: 84.541vw;
            font-size: 4.83vw;
        }
    }
    .menu{
        &__card-link{
            width: 28.5vw;
            height: 28.5vw;
        }
    }
}

@media(max-width: 374px){
    .terms{
        height: 11.6vh;
        &__descr{
            font-size: 9px;
        }
    }
    .menu{
        height: 38.7vh;
        &__btn-cancel{
            font-size: 9px;
        }
    }
    .footer{
        &__item{
            a{
                font-size: 9px;
            }
        }
    }
}

@media (min-aspect-ratio: 77/125) and (max-height: 875px) and (max-width: 539px){
    .header{
        &__item-adult{
            font-size: 10px;
            height: 7vh;
            width: 7vh;
        }
    }
    .terms{
        height: 12.5vh;
        &__descr{
            font-size: 9px;
        }
    }
    .training{
        height: 27vh;
        padding-top: 1.63vh;
        padding-bottom: 3.51vh;
        h1{
            width: 100%;
            font-size: 3vh;
        }
        &__btn{
            font-size: 3.26vh;
        }
    }
    .menu{
        height: 44vh;
        &__btn-cancel{
            font-size: 9px;
        }
        &__cards{
            height: 45.2vh;
        }
        &__card-link{
            width: 25vw;
            height: 25vw;
        }
    }
    .footer{
        &__item{
            a{
                font-size: 9px;
            }
        }
    }
}

@media (min-aspect-ratio: 320/479) and (max-width: 360px){
    .terms{
        height: 16.1vh;
    }
    .training{
        height: 22vh;
    }
    .menu{
        &__cards{
            height: 91%;
        }
        &__card-link{
            height: 19vh;
            width: 19vh;
        }
    }
}